.form{
    width: 40% !important;
    height: 40% !important;
    /* margin-left: 25% !important; */
    background-color: gray;
}

.card-text{
    margin-bottom: 1% !important;
}

.card-title{
    margin-top: 3%;
}

img{
    height: 400px !important;
    object-fit: contain !important;
    }

